# Step-1: Connectivity with Database

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
host = 'localhost',
user = 'root',
password = 'Punit@sql')

#print(mydb.connection_id)

11

# Step-2: How to Create Database

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
host = 'localhost',
user = 'root',
password = 'Punit@sql')

In [4]:
cur = mydb.cursor()

cur.execute("CREATE DATABASE my_database")

# Step-3: How to create a Table

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'Punit@sql',
    database = "my_database"
)

In [2]:
cur = mydb.cursor()

s = "CREATE TABLE customer (C_id int, Name char(40), Phone varchar(15), Email varchar(30), Address varchar(40))"
cur.execute(s)

# Step-4: How to insert values in Table

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'Punit@sql',
    database = "my_database"
)

In [7]:
cur = mydb.cursor()

s = "INSERT INTO customer (C_id, Name, Phone, Email, Address) VALUES (%s, %s, %s, %s, %s)"

c1 = (104, "Mommy", "8767899909", "mon1@gmail.com", "Delhi")

cur.execute(s, c1)
mydb.commit()

In [9]:
cur = mydb.cursor()

s = "INSERT INTO customer (C_id, Name, Phone, Email, Address) VALUES (%s, %s, %s, %s, %s)"

cus1 = [
    (105, "Ram", "8767899098", "ram@gmail.com", "Ghaziabad"),
    (106, "Rahul", "7654323456", "rahul@gmail.com", "Gurgaon")
]

cur.executemany(s, cus1) #excutemany 
mydb.commit()

In [3]:
cur = mydb.cursor()

s = "INSERT INTO customer (C_id, Name, Phone, Email, Address) VALUES (%s, %s, %s, %s, %s)"

cid = int(input("Enter the customer id = "))
name = input("Enter the customer name = ")
phone = input("Enter the customer phone = ")
email = input("Enter the customer email = ")
address = input("Enter the customer address = ")

c1 = (cid, name, phone, email, address)

cur.execute(s, c1)
mydb.commit()

Enter the customer id = 102
Enter the customer name = Jonny
Enter the customer phone = 8767878909
Enter the customer email = jon2@gmail.com
Enter the customer address = Noida

# Step-5: How to fetch data

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'Punit@sql',
    database = "my_database"
)

In [3]:
cur = mydb.cursor()

s = "SELECT * FROM customer"

cur.execute(s)

data = cur.fetchall()

for val in data:
    print(val)

(101, 'Ramesh', '7678909890', 'ramesh1@gmail.com', 'Noida')
(102, 'Jonny', '8767878909', 'jon2@gmail.com', 'Noida')
(103, 'Tommy', '8767898909', 'tom1@gmail.com', 'Delhi')
(104, 'Mommy', '8767899909', 'mon1@gmail.com', 'Delhi')
(105, 'Ram', '8767899098', 'ram@gmail.com', 'Ghaziabad')
(106, 'Rahul', '7654323456', 'rahul@gmail.com', 'Gurgaon')

# Step-6: How to Update

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'Punit@sql',
    database = "my_database"
)

In [2]:
cur = mydb.cursor()

s = "UPDATE customer SET Name = 'Honny Singh' WHERE C_id = 102"

cur.execute(s)
mydb.commit()

In [3]:
s = "SELECT * FROM customer"

cur.execute(s)

data = cur.fetchall()

for val in data:
    print(val)

(101, 'Ramesh', '7678909890', 'ramesh1@gmail.com', 'Noida')
(102, 'Honny Singh', '8767878909', 'jon2@gmail.com', 'Noida')
(103, 'Tommy', '8767898909', 'tom1@gmail.com', 'Delhi')
(104, 'Mommy', '8767899909', 'mon1@gmail.com', 'Delhi')
(105, 'Ram', '8767899098', 'ram@gmail.com', 'Ghaziabad')
(106, 'Rahul', '7654323456', 'rahul@gmail.com', 'Gurgaon')

# Step-7: How to Delete record

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'Punit@sql',
    database = "my_database"
)

In [2]:
cur = mydb.cursor()

s = "DELETE FROM customer WHERE Address = 'Delhi'"

cur.execute(s)
mydb.commit()

In [3]:
s = "SELECT * FROM customer"

cur.execute(s)

data = cur.fetchall()

for val in data:
    print(val)

(101, 'Ramesh', '7678909890', 'ramesh1@gmail.com', 'Noida')
(102, 'Honny Singh', '8767878909', 'jon2@gmail.com', 'Noida')
(105, 'Ram', '8767899098', 'ram@gmail.com', 'Ghaziabad')
(106, 'Rahul', '7654323456', 'rahul@gmail.com', 'Gurgaon')